.angle-view {
    overflow: hidden;
    margin: 10px auto; 
    background-color: white;
}
.angle-view ul, #angle-view li {
    margin: 0; padding: 0;
}
.angle-view li {
    list-style: none;
}
.angle-view ul {
    width: auto;
    height: auto;
}
.angle-view img {
    width: 90%;
    display: block;
    margin: 18px auto;
}
